@use './utils/vars' as *;
@use './reset';

@use './blocks/container';
@use './blocks/header';
@use './blocks/hero';
@use './blocks/enjoy';
@use './blocks/tools';
@use './blocks/problems';
@use './blocks/workflow';
@use './blocks/cta';
@use './blocks/footer';
@use './blocks/back-to-top';
@use './blocks/modal';

body {
  font-family: $font;
  font-size: 16px;
  color: $gray-900;
  background-color: $white;
}

main {
  padding-top: $nav-height;
}

.icon-arrow {
  display: inline;
  vertical-align: middle;
  margin-left: 1px;
}
